<div class="row justify-content-center">
      
    <table class="w-50 table table-sm table-bordered ">
        <thead>
            <tr>
                <th colspan="2">Curso</th> <!--otra forma de indireccionamiento más, interpolación-->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{curso.ID}}</td>
            <tr>
                <td>Nombre</td>
                <td>{{curso.ano}}</td>
            </tr>
            <tr>
                <td>Apellidos</td>
                <td>{{curso.letra}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <!--El siguiente botón sirve para alternar la visibilidad de la Direccion y la Edad-->
    <!--Ponemos un if que cambia el texto del botón según el valor de visibles
    <button class="btn btn-outline-primary " [ngClass]="{'btn-primary' : visibles}" (click)="alternarVisibilidad()"> {{
        visibles ? "Ocultar" : "Mostrar" }} Detalles</button>-->
</div>